.login {
  width: 100%;

  &--title {
    font-size: 3rem;
    font-weight: 600;
  }

  &--form {
    width: 95%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 10%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: $base-padding * 3 $base-padding * 6;
    border-radius: $base-border-radius;
  }

  &--label {
    font-size: 2rem;
    font-weight: 500;
    color: $secondary;
  }

  &--input {
    width: 100%;

    &:focus {
      outline: $info;
      border-color: $info;
    }
  }

  &--submit {
    margin-top: 20px;
    font-size: 1.3rem;
    padding: $base-padding $base-padding * 2;
  }
}

.already_loggedin {
  width: 100%;

  &--wrapper {
    max-width: 900px;
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    padding: $base-padding * 6 $base-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &--title {
    font-size: 5rem;
    font-weight: 700;
  }

  &--message {
    font-size: 2rem;
    font-weight: 500;
  }
}
