.error,
.success {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  color: $danger;
}

.success {
  color: $success;
}

.inputError {
  color: $danger;
  border-bottom-color: $danger !important;
}

.inputError-label {
  color: $danger !important;
}

.errorAnimation {
  animation: passwordError 0.5s forwards;
}
