.text-primary {
  color: #007bff;
}

.bg-primary {
  background-color: #007bff;
}

.text-link-primary {
  color: #007bff;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-primary:hover {
  text-decoration: underline;
}

.text-secondary {
  color: #6c757d;
}

.bg-secondary {
  background-color: #6c757d;
}

.text-link-secondary {
  color: #6c757d;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-secondary:hover {
  text-decoration: underline;
}

.text-success {
  color: #28a745;
}

.bg-success {
  background-color: #28a745;
}

.text-link-success {
  color: #28a745;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-success:hover {
  text-decoration: underline;
}

.text-danger {
  color: #dc3545;
}

.bg-danger {
  background-color: #dc3545;
}

.text-link-danger {
  color: #dc3545;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-danger:hover {
  text-decoration: underline;
}

.text-warning {
  color: #ffc107;
}

.bg-warning {
  background-color: #ffc107;
}

.text-link-warning {
  color: #ffc107;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-warning:hover {
  text-decoration: underline;
}

.text-info {
  color: #17a2b8;
}

.bg-info {
  background-color: #17a2b8;
}

.text-link-info {
  color: #17a2b8;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-info:hover {
  text-decoration: underline;
}

.text-light {
  color: #f8f9fa;
}

.bg-light {
  background-color: #f8f9fa;
}

.text-link-light {
  color: #f8f9fa;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-light:hover {
  text-decoration: underline;
}

.text-dark {
  color: #343a40;
}

.bg-dark {
  background-color: #343a40;
}

.text-link-dark {
  color: #343a40;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-dark:hover {
  text-decoration: underline;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-link-white {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-link-white:hover {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html {
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 399.98px) {
  html {
    font-size: 10px;
  }
}

html body .container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn-primary {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-primary:hover {
  text-decoration: underline;
}

.btn-primary-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-primary-outline:hover {
  background-color: #007bff;
  color: #ffffff;
  text-decoration: underline;
}

.btn-secondary {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #6c757d;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-secondary:hover {
  text-decoration: underline;
}

.btn-secondary-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.btn-secondary-outline:hover {
  background-color: #6c757d;
  color: #ffffff;
  text-decoration: underline;
}

.btn-success {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #28a745;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-success:hover {
  text-decoration: underline;
}

.btn-success-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #28a745;
  color: #28a745;
}

.btn-success-outline:hover {
  background-color: #28a745;
  color: #ffffff;
  text-decoration: underline;
}

.btn-danger {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #dc3545;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-danger:hover {
  text-decoration: underline;
}

.btn-danger-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #dc3545;
  color: #dc3545;
}

.btn-danger-outline:hover {
  background-color: #dc3545;
  color: #ffffff;
  text-decoration: underline;
}

.btn-warning {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #ffc107;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-warning:hover {
  text-decoration: underline;
}

.btn-warning-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #ffc107;
  color: #ffc107;
}

.btn-warning-outline:hover {
  background-color: #ffc107;
  color: #ffffff;
  text-decoration: underline;
}

.btn-info {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #17a2b8;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-info:hover {
  text-decoration: underline;
}

.btn-info-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #17a2b8;
  color: #17a2b8;
}

.btn-info-outline:hover {
  background-color: #17a2b8;
  color: #ffffff;
  text-decoration: underline;
}

.btn-light {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #f8f9fa;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-light:hover {
  text-decoration: underline;
}

.btn-light-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #f8f9fa;
  color: #f8f9fa;
}

.btn-light-outline:hover {
  background-color: #f8f9fa;
  color: #ffffff;
  text-decoration: underline;
}

.btn-dark {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: #343a40;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}

.btn-dark:hover {
  text-decoration: underline;
}

.btn-dark-outline {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 250px;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #343a40;
  color: #343a40;
}

.btn-dark-outline:hover {
  background-color: #343a40;
  color: #ffffff;
  text-decoration: underline;
}

.error,
.success {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  color: #dc3545;
}

.success {
  color: #28a745;
}

.inputError {
  color: #dc3545;
  border-bottom-color: #dc3545 !important;
}

.inputError-label {
  color: #dc3545 !important;
}

.errorAnimation {
  -webkit-animation: passwordError 0.5s forwards;
          animation: passwordError 0.5s forwards;
}

@-webkit-keyframes passwordError {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  40% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes passwordError {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  40% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.header {
  width: 100%;
  height: 100px;
}

.header--logo a {
  font-size: 3rem;
  font-weight: 700;
  text-transform: lowercase;
}

.header--wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

.header--greetings {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.header--greetings a {
  font-size: 1.5rem;
  font-weight: 600;
}

.login {
  width: 100%;
}

.login--title {
  font-size: 3rem;
  font-weight: 600;
}

.login--form {
  width: 95%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 2.25rem 4.5rem;
  border-radius: 5px;
}

.login--label {
  font-size: 2rem;
  font-weight: 500;
  color: #6c757d;
}

.login--input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  padding-left: 0.75rem;
  border: none;
  border-bottom: 1px solid #6c757d;
  background-color: transparent;
  font-size: 1.3rem;
}

.login--input:focus {
  outline: #17a2b8;
  border-color: #17a2b8;
}

.login--submit {
  margin-top: 20px;
  font-size: 1.3rem;
  padding: 0.75rem 1.5rem;
}

.already_loggedin {
  width: 100%;
}

.already_loggedin--wrapper {
  max-width: 900px;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  padding: 4.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.already_loggedin--title {
  font-size: 5rem;
  font-weight: 700;
}

.already_loggedin--message {
  font-size: 2rem;
  font-weight: 500;
}

.signup {
  width: 100%;
}

.signup--title {
  font-size: 3rem;
  font-weight: 600;
}

.signup--form {
  max-width: 500px;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 2.25rem 4.5rem;
  border-radius: 5px;
}

.signup--label {
  font-size: 2rem;
  font-weight: 500;
  color: #6c757d;
}

.signup--input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  padding-left: 0.75rem;
  border: none;
  border-bottom: 1px solid #6c757d;
  background-color: transparent;
  font-size: 1.3rem;
}

.signup--input:focus {
  outline: #17a2b8;
  border-color: #17a2b8;
}

.signup--submit {
  margin-top: 20px;
  font-size: 1.3rem;
  padding: 0.75rem 1.5rem;
}

.home {
  width: 100%;
}

.home--wrapper {
  max-width: 900px;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  padding: 4.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home--title {
  font-size: 5rem;
  font-weight: 700;
}

.home--message {
  font-size: 2rem;
  font-weight: 500;
}

.verify_email {
  width: 100%;
}

.verify_email--wrapper {
  max-width: 900px;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  padding: 4.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.verify_email--title {
  font-size: 5rem;
  font-weight: 700;
}

.verify_email--message {
  font-size: 2rem;
  font-weight: 500;
}

.verify_email--message span {
  color: #17a2b8;
}

.not_found {
  width: 100%;
}

.not_found--wrapper {
  max-width: 900px;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  padding: 4.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.not_found--title {
  font-size: 5rem;
  font-weight: 700;
}

.not_found--message {
  font-size: 2rem;
  font-weight: 500;
}

.expired {
  width: 100%;
}

.expired--wrapper {
  max-width: 900px;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  padding: 4.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.expired--title {
  font-size: 5rem;
  font-weight: 700;
}

.expired--message, .expired--link {
  font-size: 2rem;
  font-weight: 500;
}

.confirmation_email {
  width: 100%;
}

.confirmation_email--title {
  font-size: 3rem;
  font-weight: 600;
}

.confirmation_email--form {
  max-width: 900px;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0.75rem;
  border-radius: 5px;
}

.confirmation_email--label {
  font-size: 2rem;
  font-weight: 500;
  color: #6c757d;
}

.confirmation_email--input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  padding-left: 0.75rem;
  border: none;
  border-bottom: 1px solid #6c757d;
  background-color: transparent;
  font-size: 1.3rem;
}

.confirmation_email--input:focus {
  outline: #17a2b8;
  border-color: #17a2b8;
}

.confirmation_email--submit {
  margin-top: 20px;
  font-size: 1.3rem;
  padding: 0.75rem 1.5rem;
}
