$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'danger': $danger,
  'warning': $warning,
  'info': $info,
  'light': $light,
  'dark': $dark,
  'white': $white,
);

// margin & padding
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// transitions
$base-transition: all 0.25s ease-in-out;

//box shadow
$box-shadow: 0px 0px 5px 0px rgba($dark, 0.5);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }

  .text-link-#{$key} {
    color: $val;
    font-size: 1.8rem;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  .text-response-#{$key} {
    color: $val;
    font-size: 1.2rem;
    font-weight: 500;
    padding: $base-padding;
    background-color: lighten($val, 50%);
    border-radius: $base-border-radius;
  }
}
